/* HEADER. все что относится к шапке*/
.header {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	min-height: 293px;
	padding: 0 50px;
}

.list {
	display: flex;
	gap: 29px;
	list-style: circle;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	padding-bottom: 4px;
	color: #000;
}

.main-link {
	list-style: none;
}

.header-link {
	text-decoration: none;
}

.header-link-lots {
	padding-left: 3px;
}

.header-link-about {
	padding-left: 7px;
}

.logo-link {
	height: 110px;
	width: 135px;
}

.address {
	font-style: normal;
	justify-self: end;
	display: flex;
	flex-direction: column;
	max-width: 240px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000;
}

.contacts-link {
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

/* 2й блок*/
.cover {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 757px;
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 165px 20px 50px 50px;
}

.background {
	position: absolute;
	z-index: 1;
	width: 100%;
	/*padding: inherit;*/ /* такую команду нашел через интернет источники */
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0, 0, 0, 0.6);
}

.name {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-rows: min-content min-content min-content;
	gap: 20px;
}

.text {
	font-weight: 700;
	font-size: 100px;
	line-height: 115%;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #fff;
}

.text-centre {
	width: min-content;
	justify-self: center;
}

.text-right {
	width: min-content;
	justify-self: right;
}

.bottom-menu {
	z-index: 2;
	flex-wrap: nowrap;
	white-space: nowrap;
}

.bottom-text {
	display: inline-block;
	margin-right: 104px;
	font-size: 22px;
	line-height: 28px;
	word-spacing: 0.85em;
	text-transform: uppercase;
	display: inline;
	color: #fff;
}

.button {
	background: none;
	width: 256px;
	height: 51px;
	border-style: solid;
	border-color: #fff;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	color: #fff;
}

/* секция карточек */
.lots {
	margin: 180px 24px 0;
}

.lots-title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	margin: 0 0 27px 40px;
	color: #000;
}

.lots-list {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: space-between;
	list-style: none;
}

.card-link {
	text-decoration: none;
}

.card {
	position: relative;
	background-position: center;
    background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 334px;
	min-height: 596px;
	padding: 48px 40px;
}

.card-title {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	text-decoration-line: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	text-transform: uppercase;
	color: #fff;
}

.card-text {
	position: relative;
	z-index: 2;
	font-size: 20px;
	line-height: 120%;
	color: #fff;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
}

.lots-text-bottom {
	display: block;
	margin: 30px 0 0 40px;
	font-size: 20px;
	line-height: 23px;
	text-decoration-line: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	color: #000;
}

/* секция информации */
.about {
	display: grid;
	grid-template-columns: 383px auto;
	padding: 155px 29px 180px 0;
}

.logo-background {
	justify-self: center;
	align-self: flex-start;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 240px;
	border-radius: 100%;
	background-color: #000;
}

.logo-white {
	height: 112px;
	width: 144px;
}

.about-section {
	align-self: flex-end;
	margin-top: 102px;
	width: 100%;
}

.about-title {
	margin-bottom: 100px;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	color: #000;
}

.about-info {
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-size: 20px;
	line-height: 24px;
	color: #000;
}

/*подвал*/
.footer {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	padding: 0 50px 82px;
}

.address-footer {
	display: flex;
	min-width: 242px;
	justify-self: start;
}

.footer-list {
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	white-space: nowrap;
	list-style: none;
	gap: 0;
}

.social-nav {
	justify-self: flex-end;
}

.social-list {
	display: flex;
	gap: 48px;
	list-style: none;
}

.footer-social-icon {
	height: 48px;
}
